{% extends "index.html" %}
{% load staticfiles %}


{% block content %}
{% for item in items %}
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        {% if item.image %}
				<img src='{{ item.image.url }}' class='img-responsive' />
		{% endif %}
        <div class="caption">
            <h4 class="pull-right">${{ item.Price }}</h4>
            <h4><a href='{% url "detail" id=item.id %}'>{{ item.Item_Name }}</a>
            </h4>
            <p>{{ item.Description|linebreaks|truncatechars:120 }}</p>
        </div>
        <div class="ratings">
            <p class="pull-right">15 reviews</p>
            <p>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
                <span class="glyphicon glyphicon-star"></span>
            </p>
        </div>
    </div>
</div>

{% endfor %}                    
{% endblock content %}


