{% extends "base.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/css/shop-item.css' %}">
<link rel="stylesheet" href="{% static 'icon' %}">
{% block head_title %} 
{{objects.title}}|{{block.super}} 
{% enblock head_title %}

<h1> {{title}}</h1>
<div class='col-sm-6 col-sm-offset-3'>
	{% if object.image %}
	<img src='{{ object.image.url }}' class='img-responsive' />
	{% endif %}
	{{object.seller_Name}}<br/>
	{{object.Item_Name}}<br/>
	{{object.Description}}<br/>
	{{object.Price}}<br/>
	{{object.Contact}}<br/>
</div>
{% endblock content %}